
body {
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    align-items: center;
    @include font;


}
.gallery {
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 20px;
    justify-content: center;
    // grid-auto-flow: row;
    // grid-template-areas: 
    // " . input input . "
    // "photo1 photo2 photo3 photo4"
    // "photo5 photo6 photo7 photo8"
    // "photo9 photo10 photo11 photo12";

}



@for $i from 1 through 12 {

    #photo-#{$i} {
        // grid-area: photo#{$i};
        width: 190px;
        height: 190px;
        // padding: 2px;
        // fit-object:cover;
    }
}

img {
//    padding-right: 1.5em;
//    padding-bottom: 2em;

}
